/* line 23, ../sass/fresh.scss */
#page {
  *position: relative;
  *zoom: 1;
  max-width: 100%;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 28, ../sass/fresh.scss */
#main {
  padding-top: 6.47em;
}

/* line 32, ../sass/fresh.scss */
#content {
  padding-left: 0;
  padding-right: 0;
}

/* line 37, ../sass/fresh.scss */
#logo {
  padding: 13px 0;
  float: left;
  width: 25%;
  margin-left: 8.33333%;
  margin-right: -33.33333%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 43, ../sass/fresh.scss */
#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  position: relative;
  left: 145%;
  top: 11px;
}
/* line 50, ../sass/fresh.scss */
#site-name a:hover {
  text-decoration: none;
}

/* line 55, ../sass/fresh.scss */
#name-and-slogan {
  padding-top: 53px;
}

/* line 61, ../sass/fresh.scss */
#header {
  *position: relative;
  *zoom: 1;
  background: url("/codam/sites/default/files/header.png");
  height: 135px;
  max-width: 100%;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after {
  clear: both;
}
/* line 66, ../sass/fresh.scss */
#header a {
  padding: 24px 0;
}

/* line 71, ../sass/fresh.scss */
.pane-content-first-first, #mini-panel-recipe {
  background: url("/codam/sites/default/files/bg.png");
  background-repeat: no-repeat;
}

/* line 77, ../sass/fresh.scss */
#mini-panel-content_first_first {
  padding-top: 50px;
  margin-top: -114px;
  *position: relative;
  *zoom: 1;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#mini-panel-content_first_first:before, #mini-panel-content_first_first:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#mini-panel-content_first_first:after {
  clear: both;
}
/* line 81, ../sass/fresh.scss */
#mini-panel-content_first_first .field-name-body {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 85, ../sass/fresh.scss */
#mini-panel-content_first_first .field-name-field-images {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 92, ../sass/fresh.scss */
.profit {
  float: right;
  margin-top: 0;
  color: white;
  font-size: 6em;
  line-height: 129px;
}

/* line 100, ../sass/fresh.scss */
.solutions {
  float: right;
  position: relative;
  top: -120px;
  left: -135px;
  color: #d7d7d7;
}

/* line 109, ../sass/fresh.scss */
#mini-panel-who_and_what_ {
  *position: relative;
  *zoom: 1;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#mini-panel-who_and_what_:before, #mini-panel-who_and_what_:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#mini-panel-who_and_what_:after {
  clear: both;
}
/* line 111, ../sass/fresh.scss */
#mini-panel-who_and_what_ h2 {
  text-align: center;
  color: #3e5e6b;
}
/* line 115, ../sass/fresh.scss */
#mini-panel-who_and_what_ .panel-col-first {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  text-align: justify;
}
/* line 119, ../sass/fresh.scss */
#mini-panel-who_and_what_ .panel-col-last {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  text-align: justify;
}

/* line 126, ../sass/fresh.scss */
hr {
  display: inline-block;
  margin: 6px 0;
  width: 28%;
  height: 0.2em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #3e5e6b;
}

/* line 139, ../sass/fresh.scss */
#mini-panel-services_ {
  *position: relative;
  *zoom: 1;
  text-align: justify;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#mini-panel-services_:before, #mini-panel-services_:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#mini-panel-services_:after {
  clear: both;
}
/* line 142, ../sass/fresh.scss */
#mini-panel-services_ h2 {
  text-align: center;
  color: #684828;
  font-size: 1.9em;
}
/* line 147, ../sass/fresh.scss */
#mini-panel-services_ .pane-content {
  margin-top: -30px;
}
/* line 150, ../sass/fresh.scss */
#mini-panel-services_ .panel-col-first {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 153, ../sass/fresh.scss */
#mini-panel-services_ .panel-col {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 156, ../sass/fresh.scss */
#mini-panel-services_ .panel-col-last {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 162, ../sass/fresh.scss */
.code, .despng, .mpng {
  padding: 0 144.5px;
}

/* line 167, ../sass/fresh.scss */
#mini-panel-recipe {
  margin-top: -10px;
  padding-top: 15px;
}
/* line 168, ../sass/fresh.scss */
#mini-panel-recipe h2 {
  color: white;
  text-align: center;
}
/* line 176, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(1) {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 178, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(1) img[src$=png] {
  padding: 0 65px;
}
/* line 182, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(2) {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 185, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(2) img[src$=png] {
  padding: 0 85px;
}
/* line 189, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(3) {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 191, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(3) img[src$=png] {
  padding: 0 95.5px;
}
/* line 195, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(4) {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 197, ../sass/fresh.scss */
#mini-panel-recipe .panel-pane:nth-child(4) img[src$=png] {
  padding: 0 57.5px;
}

/* line 203, ../sass/fresh.scss */
#mini-panel-combo, .pane-our-work {
  background: url("/codam/sites/default/files/cbg.png");
}

/* line 208, ../sass/fresh.scss */
.pane-our-work {
  *position: relative;
  *zoom: 1;
  padding-top: 50px;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.pane-our-work:before, .pane-our-work:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.pane-our-work:after {
  clear: both;
}
/* line 212, ../sass/fresh.scss */
.pane-our-work .foot {
  float: left;
  width: 41.66667%;
  margin-left: 0%;
  margin-right: -41.66667%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  position: relative;
  left: 39px;
  top: 17px;
  border-color: #d8d8d1;
}
/* line 219, ../sass/fresh.scss */
.pane-our-work .foo {
  float: left;
  width: 41.66667%;
  margin-left: 66.66667%;
  margin-right: -108.33333%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  position: relative;
  left: -145px;
  top: 17px;
  border-color: #d8d8d1;
}
/* line 226, ../sass/fresh.scss */
.pane-our-work h2 {
  float: left;
  width: 16.66667%;
  margin-left: 41.66667%;
  margin-right: -58.33333%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  text-align: center;
  margin-top: -80px;
  color: #684828;
  background: url("/codam/sites/default/files/ecllipse.png");
  background-repeat: no-repeat;
  background-position: center 40px;
  height: 174px;
  padding: 81px 34px 43px;
}
/* line 237, ../sass/fresh.scss */
.pane-our-work #mini-panel-portfolio .field-name-body {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 243, ../sass/fresh.scss */
.pane-our-work .port {
  padding: 0 77.5px;
  width: 832px;
  margin-top: 120px;
}
/* line 248, ../sass/fresh.scss */
.pane-our-work .port1, .pane-our-work .port2, .pane-our-work .port3 {
  display: inline-block;
}

/* line 253, ../sass/fresh.scss */
.port1 img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 5s linear;
  -moz-transition: -moz-transform 5s linear;
  -o-transition: -o-transform 5s linear;
  transition: transform 5s linear;
}

/* line 258, ../sass/fresh.scss */
.port2 img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 5s linear;
  -moz-transition: -moz-transform 5s linear;
  -o-transition: -o-transform 5s linear;
  transition: transform 5s linear;
}

/* line 263, ../sass/fresh.scss */
.port3 img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 5s linear;
  -moz-transition: -moz-transform 5s linear;
  -o-transition: -o-transform 5s linear;
  transition: transform 5s linear;
}

/* line 270, ../sass/fresh.scss */
#footer {
  *position: relative;
  *zoom: 1;
  background: url("/codam/sites/default/files/fbg.png");
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#footer:before, #footer:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#footer:after {
  clear: both;
}
/* line 273, ../sass/fresh.scss */
#footer p {
  text-align: center;
  font-size: 1.2em;
  color: white;
}
/* line 278, ../sass/fresh.scss */
#footer .block-webform {
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: -75%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 279, ../sass/fresh.scss */
#footer .block-webform h2 {
  text-align: center;
  color: #f4f4f4;
  font-size: 2em;
  margin: 0 143.5px;
  width: 255px;
  background-color: #6F6F6B;
}

/* line 290, ../sass/fresh.scss */
textarea {
  min-height: 10em;
  max-width: 100%;
  background-color: #F2F2F0;
}

/* line 295, ../sass/fresh.scss */
label {
  color: #fdfdfd;
}

/* line 299, ../sass/fresh.scss */
input[type="email"], input[type="text"] {
  width: 542px;
  height: 30px;
  background-color: #F2F2F0;
}

/* line 304, ../sass/fresh.scss */
input:focus, textarea:focus {
  -webkit-transition: background 0.2s ease-in;
  -webkit-transition-delay: 1s;
  -moz-transition: background 0.2s ease-in 1s;
  -o-transition: background 0.2s ease-in 1s;
  transition: background 0.2s ease-in 1s;
  background-color: #c5e9f8;
}

/* line 308, ../sass/fresh.scss */
.form-item .form-required {
  color: #c5e9f8;
}

/* line 313, ../sass/fresh.scss */
.arrow {
  position: relative;
  left: 165px;
  top: -70px;
}

/* line 318, ../sass/fresh.scss */
.arrow1 {
  position: relative;
  left: 145px;
  top: -100px;
}

/* line 323, ../sass/fresh.scss */
.arrow2 {
  position: relative;
  left: 125px;
  top: -100px;
}

/* line 328, ../sass/fresh.scss */
.progs, .mobb {
  background-color: rgba(170, 165, 165, 0.1);
}

/* line 333, ../sass/fresh.scss */
.clients {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  margin-top: 40px;
  margin-bottom: 50px;
}
/* line 337, ../sass/fresh.scss */
.clients img {
  padding: 0 21px;
}

/* line 342, ../sass/fresh.scss */
#mini-panel-portfolio {
  margin-bottom: 80px;
}

/* line 346, ../sass/fresh.scss */
.pane-who-and-what p {
  margin-top: -1.5em;
}

/* line 351, ../sass/fresh.scss */
::-webkit-input-placeholder {
  color: rgba(171, 169, 169, 0.6);
  font-style: italic;
}

/* line 355, ../sass/fresh.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(171, 169, 169, 0.6);
  font-style: italic;
}

/* line 359, ../sass/fresh.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(171, 169, 169, 0.6);
  font-style: italic;
}

/* line 363, ../sass/fresh.scss */
:-ms-input-placeholder {
  color: rgba(171, 169, 169, 0.6);
  font-style: italic;
}

/* line 370, ../sass/fresh.scss */
#mini-panel-recipe .for {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  position: relative;
  left: 110px;
  top: 39px;
  border-color: rgba(255, 255, 255, 0.2);
}
/* line 377, ../sass/fresh.scss */
#mini-panel-recipe .crep {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 380, ../sass/fresh.scss */
#mini-panel-recipe .fox {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 40px;
  padding-right: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  position: relative;
  left: -114px;
  top: 39px;
  border-color: rgba(255, 255, 255, 0.2);
}
/* line 387, ../sass/fresh.scss */
#mini-panel-recipe .panel-col {
  padding-top: 30px;
}
/* line 390, ../sass/fresh.scss */
#mini-panel-recipe .rep {
  margin-bottom: 35px;
}

/* line 395, ../sass/fresh.scss */
.resizable-textarea .grippie {
  background-color: #4d4c4c;
  border: none;
}

/* line 400, ../sass/fresh.scss */
.quote {
  float: right;
  position: relative;
  top: -30px;
  left: 34px;
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCE6CF', endColorstr='#FFF6B46F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fce6cf), color-stop(70%, #f9ab5a));
  background: -webkit-linear-gradient(#fce6cf, #f9ab5a 70%);
  background: -moz-linear-gradient(#fce6cf, #f9ab5a 70%);
  background: -o-linear-gradient(#fce6cf, #f9ab5a 70%);
  background: linear-gradient(#fce6cf, #f9ab5a 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #f89e41;
  color: #333333;
  text-shadow: #fde1c4 0 1px 0;
}
/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.quote:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.quote:hover {
  background-color: #f89e41;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #fbdab7), color-stop(75%, #f89e41));
  background: -webkit-linear-gradient(#fbdab7 3%, #f89e41 75%);
  background: -moz-linear-gradient(#fbdab7 3%, #f89e41 75%);
  background: -o-linear-gradient(#fbdab7 3%, #f89e41 75%);
  background: linear-gradient(#fbdab7 3%, #f89e41 75%);
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.quote:active {
  -webkit-box-shadow: #f89733 0 1px 2px inset;
  -moz-box-shadow: #f89733 0 1px 2px inset;
  box-shadow: #f89733 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.quote.disabled, .quote[disabled] {
  opacity: 0.6;
  background: #f9ab5a;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.quote::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 408, ../sass/fresh.scss */
.form-submit {
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCE6CF', endColorstr='#FFF6B46F');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fce6cf), color-stop(70%, #f9ab5a));
  background: -webkit-linear-gradient(#fce6cf, #f9ab5a 70%);
  background: -moz-linear-gradient(#fce6cf, #f9ab5a 70%);
  background: -o-linear-gradient(#fce6cf, #f9ab5a 70%);
  background: linear-gradient(#fce6cf, #f9ab5a 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #f89e41;
  color: #333333;
  text-shadow: #fde1c4 0 1px 0;
  padding: 0.3em 1.5em !important;
}
/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:hover {
  background-color: #f89e41;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #fbdab7), color-stop(75%, #f89e41));
  background: -webkit-linear-gradient(#fbdab7 3%, #f89e41 75%);
  background: -moz-linear-gradient(#fbdab7 3%, #f89e41 75%);
  background: -o-linear-gradient(#fbdab7 3%, #f89e41 75%);
  background: linear-gradient(#fbdab7 3%, #f89e41 75%);
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:active {
  -webkit-box-shadow: #f89733 0 1px 2px inset;
  -moz-box-shadow: #f89733 0 1px 2px inset;
  box-shadow: #f89733 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit.disabled, .form-submit[disabled] {
  opacity: 0.6;
  background: #f9ab5a;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
